.productsContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 0px 30px;
}

@media (max-width: 1024px) {
  .productsContainer {
    width: 70%;
  }
}

.productsItems {
  display: flex;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  padding: 15px 0;
}

.pagination > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ccc;
}

.noChoosedCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.isCategorySelectionBlocked {
  display: flex;
  padding: 15px;
  background-color: #ffbf00;
  border-radius: 15px;
}

.active {
  border:  none !important;
  background-color: #c07d00;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
