.categoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  gap: 20px;
  border-right: 1px solid rgb(153, 153, 153);
  padding: 30px;
}

.categoryItems {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  gap: 15px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .categoriesContainer {
    width: 30%;
  }
}
